<div class="container-fluid">
    <form>

        <p>
            <br />
            <select class="custom-select">
                <option selected>Seleccione el Tipo de servicio</option>
                <option value="1">TAXI BASICO RURAL</option>
                <option value="2">TAXI EJECUTIVO URBANO</option>
            </select>
            <select class="custom-select">
                <option selected>Seleccione el Modalidad de Inscripcion</option>
                <option value="1">TAXI BASICO RURAL</option>
                <option value="2">TAXI EJECUTIVO URBANO</option>
            </select>
        </p>
    </form>
</div>