.nav-item .active {
    border-bottom: 3px solid red;
}
.nav-item > a:hover {
    border-bottom: 3px solid red;
}

.jumbotron {
    padding: 40px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 2px 2px 1px #ccc;
}